@charset "UTF-8";
/**********************************************
  # mixins
***************************************************/
/**********************************************
  # colors
***************************************************/
/**********************************************
  # common
***************************************************/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #444;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  line-height: 1.6875;
  height: 100%;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

button a {
  color: #3EA1D1;
}

.main {
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

.section {
  margin-top: 160px;
  padding-top: 70px;
  margin-top: -70px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 30px;
  }
}

.util-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding-top: 90px;
}

@media screen and (max-width: 767px) {
  .util-title {
    font-size: 30px;
    padding-top: 20px;
  }
}

.util-title::after {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  background-color: #3EA1D1;
  margin: 16px auto 0;
}

.util-link {
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: .1em;
  color: #3EA1D1;
  border: solid 1px #3EA1D1;
  background-color: #fff;
  display: inline-block;
  padding: 10px 54px;
  transition: background-color .4s, color .4s;
}

.util-link.-active {
  background-color: #3EA1D1;
  color: #fff;
}

.util-link.-confirm {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .util-link:not(.-submit):hover {
    background-color: #3EA1D1;
    color: #fff;
  }
}

/**********************************************
  # header
***************************************************/
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.drawer--right .header .drawer-hamburger {
  right: 13px;
  top: 5px;
}

.header .header-logo a {
  color: #444;
}

@media screen and (min-width: 768px) {
  .header .header-logo {
    transition: .4s;
  }
  .header .header-logo:hover {
    opacity: 0.7;
  }
}

.header .drawer-hamburger-icon {
  background-color: #3EA1D1;
}

.drawer-open .header .drawer-hamburger-icon {
  background-color: transparent;
}

.header .drawer-hamburger-icon::before, .header .drawer-hamburger-icon::after {
  background-color: #3EA1D1;
}

@media screen and (min-width: 768px) {
  .header .drawer-toggle {
    padding-right: 40px;
  }
}

.header-inner {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-inner {
    height: 60px;
  }
}

.header-right, .header-nav {
  margin-left: auto;
  display: flex;
}

.header-nav {
  top: 70px;
}

@media screen and (max-width: 767px) {
  .header-nav {
    top: 60px;
  }
}

.header-item {
  color: #444;
  height: 70px;
  line-height: 70px;
  letter-spacing: .1em;
  display: block;
  padding-right: 20px;
  font-size: 12px;
}

.header-item:last-child {
  padding-right: 50px;
}

@media screen and (min-width: 768px) {
  .header-item:hover {
    opacity: 0.7;
  }
}

.logo {
  font-size: 20px;
  font-weight: 700;
  font-family: "Crimson Text", "Yu Mincho Medium", 游明朝体, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  letter-spacing: .1em;
}

.header-nav-item {
  cursor: pointer;
  margin-left: 20px;
}

.header-nav-item + .header-nav-item {
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .header-nav-item:hover {
    transition: .4s;
    opacity: 0.7;
  }
}

.header-nav-item-link {
  display: block;
  color: #444;
  height: 70px;
  line-height: 70px;
  letter-spacing: .1em;
}

.item_search:not(:root) {
  border: none;
  border-bottom: solid 1px #989898;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: .03em;
  padding: 22px 12px 2px;
  position: relative;
  outline: none;
  color: #989898;
}

.fas {
  color: #989898;
  background-color: #fff;
}

/**********************************************
  # top
***************************************************/
.swiper-slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 55%;
}

.top {
  position: relative;
}

@media screen and (max-width: 767px) {
  .top-message {
    margin-top: 35px;
  }
}

@media screen and (min-width: 768px) {
  .top-message {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 82px 44px 90px 40px;
    z-index: 1;
  }
}

.top-message-title {
  font-size: 26px;
  font-weight: bold;
}

.top-message-text {
  margin-top: 18px;
}

/**********************************************
  # products
***************************************************/
.products {
  max-width: 940px;
}

.products-list {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-item {
  flex: 0 0 27.6%;
}

@media screen and (max-width: 767px) {
  .products-item {
    flex: 0 0 48%;
  }
}

.products-item-link {
  display: block;
  color: #444;
  font-size: 14px;
  box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .products-item-link:hover .products-item-picture > img {
    transform: scale(1.05);
  }
}

.products-item-picture {
  overflow: hidden;
}

.products-item-picture > img {
  transition: .4s;
}

.products-item-body {
  margin-top: 22px;
}

.products-item-cost {
  color: #989898;
  margin-top: 10px;
}

.products-footer {
  text-align: center;
  margin: 60px 0 70px;
}

/**********************************************
  # footer
***************************************************/
.footer {
  background-color: #f7f7f7;
  padding: 42px 40px 12px;
  margin-top: 80px;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 30px 0 14px;
  }
}

.footer-logo {
  text-align: center;
}

.footer-logo a {
  color: #444;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    transition: .4s;
  }
  .footer-logo:hover {
    opacity: 0.7;
  }
}

.footer-nav-list {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    display: flex;
    justify-content: center;
  }
}

.footer-nav-item {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-nav-item + .footer-nav-item {
    margin-left: 30px;
  }
}

.footer-nav-item-link {
  font-size: 12px;
  display: block;
  color: #444;
  padding: 1em 0;
}

@media screen and (max-width: 767px) {
  .footer-nav-item-link {
    padding: .3em 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-nav-item-link:hover {
    opacity: 0.7;
  }
}

.footer-sns-list {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer-sns-list {
    margin-top: 14px;
  }
}

.footer-sns-item {
  display: inline-block;
}

.footer-sns-item + .footer-sns-item {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-sns-item:hover {
    opacity: 0.7;
  }
}

.footer-copyright {
  color: #888;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.footer-sns-item-link {
  color: #3EA1D1;
  font-size: 24px;
  display: block;
  padding: .1em .5em;
}

/**********************************************
  # detail
***************************************************/
.detail {
  max-width: 800px;
  margin: 0 auto;
}

.detail-title {
  margin-top: 8px;
  font-weight: 700;
  color: #444;
  font-size: 24px;
}

.detail-image {
  margin-top: 30px;
}

.detail-text {
  margin-top: 14px;
}

.detail-cost {
  color: #989898;
  margin-top: 8px;
}

.detail-form-wrap {
  margin: 30px 0 40px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .detail-form-wrap .util-link {
    margin-top: 18px;
  }
  .detail-form-wrap .util-link:first-child {
    padding: 10px 30px;
  }
}

/**********************************************
  # cart
***************************************************/
.cart-back {
  background-color: #ccc;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #6c6c6c;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin: 0 20px 0 0;
  outline: 0;
  padding: 16px 12px;
  text-align: center;
  width: 100%;
}

.cart-back > a {
  color: #6c6c6c;
  font-size: 14px;
}

.cart-back:hover {
  transition: .4s;
  opacity: 0.7;
}

.non {
  margin-top: 40px;
}

.non:hover {
  opacity: 1;
}

.cart-list {
  background-color: #fff;
  border: #dbdbdb solid 3px;
  border-radius: 3px;
  margin: 30px 0 0;
  padding: 20px;
}

.cart-back-wrap {
  background-color: #fff;
  border: #dbdbdb solid 3px;
  border-radius: 3px;
  margin: 20px 0 0;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .cart-back-wrap {
    padding: 10px;
  }
}

.cart-item {
  border-bottom: solid 3px #dbdbdb;
}

.cart-item-wrap {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.cart-item-header {
  flex: 0 0 240px;
}

@media screen and (max-width: 767px) {
  .cart-item-header {
    flex: 0 0 120px;
  }
}

.cart-item-body {
  flex: 0 1 100%;
  text-align: center;
}

.cart-item-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  .cart-item-name {
    font-size: 12px;
  }
}

.cart-item-cost {
  font-size: 14px;
  color: #989898;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .cart-item-cost {
    font-size: 8px;
    margin-top: 4px;
  }
}

.cart-item-num {
  font-size: 16px;
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  .cart-item-num {
    font-size: 8px;
    margin-top: 0;
  }
}

.cart-item-sumnum {
  font-size: 16px;
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  .cart-item-sumnum {
    font-size: 8px;
    margin-top: 2px;
  }
}

.updown-btn {
  margin-left: 5px;
}

.sumnumprice {
  font-size: 24px;
  line-height: 65px;
  margin: 0 0 10px;
  padding: 0 20px 0 0;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .sumnumprice {
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.form-wrap {
  text-align: center;
  margin-top: 30px;
}

.form-wrap .util-link {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .form-wrap .util-link {
    margin-top: 8px;
  }
}

/**********************************************
  # complete
***************************************************/
.complete {
  margin-top: 280px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .complete {
    margin-top: 180px;
  }
}

.util-wrap {
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .util-wrap .util-link {
    margin-top: 20px;
  }
}

/**********************************************
  # mypage
***************************************************/
.mypage-wrap {
  text-align: center;
}

.mypage {
  padding-top: 70px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  max-width: 980px;
  margin: 40px auto 0;
}

.table tr {
  border: solid 1px #898989;
}

.table th {
  width: 30%;
  padding: 16px;
  background-color: #3EA1D1;
  color: #fff;
  border-right: solid 1px #898989;
}

@media screen and (max-width: 767px) {
  .table th {
    width: 100%;
    display: block;
    padding: 8px;
  }
}

.table td {
  width: 70%;
  padding: 12px;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .table td {
    width: 100%;
    display: block;
    padding: 6px;
  }
}

.link-table {
  width: 100%;
  max-width: 768px;
  margin: 40px auto 0;
}

.link-table .util-link {
  padding: 10px 40px;
}

@media screen and (max-width: 767px) {
  .link-table .util-link {
    width: 100%;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .link-table td {
    width: 100%;
    display: block;
  }
}

/**********************************************
  # favorite
***************************************************/
.list-back {
  background-color: #ccc;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #6c6c6c;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin: 0 20px 0 0;
  outline: 0;
  padding: 16px 12px;
  text-align: center;
  width: 100%;
}

.list-back > a {
  margin-top: 40px;
  color: #6c6c6c;
  font-size: 14px;
}

.list-back:hover {
  transition: .4s;
  opacity: 0.7;
}

.non {
  margin-top: 40px;
}

.non:hover {
  opacity: 1;
}

.list-back-wrap {
  background-color: #fff;
  border: #dbdbdb solid 3px;
  border-radius: 3px;
  margin: 20px 0 0;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .list-back-wrap {
    padding: 10px;
  }
}

.favorite-item {
  border-bottom: solid 3px #dbdbdb;
}

.favorite-item-wrap {
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.favorite-item-header {
  flex: 0 0 240px;
}

@media screen and (max-width: 767px) {
  .favorite-item-header {
    flex: 0 0 120px;
  }
}

.favorite-item-body {
  flex: 0 1 100%;
  text-align: center;
}

.favorite-item-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  .favorite-item-name {
    font-size: 12px;
  }
}

.favorite-item-cost {
  font-size: 14px;
  color: #989898;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .favorite-item-cost {
    font-size: 8px;
    margin-top: 4px;
  }
}

.favorite-item-link {
  font-size: 16px;
  margin-top: 4px;
}

@media screen and (max-width: 767px) {
  .favorite-item-link a {
    font-size: 8px;
    margin-top: 4px;
    padding: 4px;
  }
}

@media screen and (max-width: 767px) {
  .favorite-item-link {
    font-size: 8px;
    margin-top: 0;
  }
}

.favorite-item-picture a:hover {
  transition: .4s;
  opacity: 0.7;
}

/**********************************************
  # logout delregist
***************************************************/
.logout {
  font-size: 18px;
  margin-top: 200px;
  text-align: center;
}

.util-link-wrap {
  text-align: center;
  margin-top: 40px;
}

.delmessage {
  text-align: center;
  margin-top: 50px;
}

/**********************************************
  # password
***************************************************/
.password {
  margin-top: 40px;
}

.password input[type="password"] {
  width: 100%;
  font-size: 30px;
  padding: .2em .5em;
  border: 0;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
  height: 40px;
  background-color: #dcdcdc;
}

.change-pass-list {
  max-width: 540px;
  margin: 100px auto 40px;
}

@media screen and (max-width: 767px) {
  .change-pass-list {
    max-width: 420px;
  }
}

.wrap {
  margin-top: 50px;
  text-align: center;
}

.password-item {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .password-item {
    display: flex;
  }
}

.change-pass-item-input {
  flex: 0 0 300px;
}

@media screen and (min-width: 768px) {
  .change-pass-item-title {
    flex: 0 1 100%;
  }
}

.password-footer {
  text-align: center;
}

.err {
  margin-top: 20px;
  text-align: center;
  color: red;
  font-size: 14px;
}

.confirm-message {
  margin-top: 280px;
  font-size: 18px;
  text-align: center;
}

/**********************************************
  # login
***************************************************/
.login {
  margin-top: 40px;
}

.login input[type="email"], .login input[type="password"] {
  width: 100%;
  font-size: 30px;
  padding: .2em .5em;
  border: 0;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
  height: 40px;
  background-color: #dcdcdc;
  letter-spacing: .2em;
}

.login input[type="email"] {
  font-size: 14px;
}

.login-list {
  max-width: 540px;
  margin: 100px auto 40px;
}

@media screen and (max-width: 767px) {
  .login-list {
    max-width: 420px;
  }
}

.login-item {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .login-item {
    display: flex;
  }
}

.login-item-input {
  flex: 0 0 300px;
}

@media screen and (min-width: 768px) {
  .login-item-title {
    flex: 0 1 100%;
  }
}

.login-footer {
  text-align: center;
}

.login-footer .util-link:last-child {
  margin-top: 18px;
}

.login-text {
  margin-top: 200px;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .login-text {
    margin-top: 100px;
  }
}

.regist-link {
  text-decoration: underline;
  font-size: 18px;
  margin-left: 100px;
  color: #3EA1D1;
}

@media screen and (max-width: 767px) {
  .regist-link {
    font-size: 12px;
    margin-top: 8px;
  }
}

/**********************************************
  # search
***************************************************/
.search-text {
  text-align: center;
  font-size: 18px;
  margin-top: 100px;
}

/**********************************************
  # regist
***************************************************/
.regist {
  margin-top: 40px;
}

.regist input[type="text"], .regist input[type="email"], .regist input[type="button"], .regist input[type="password"] {
  padding: .2em .5em;
  border: 0;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
  height: 40px;
  background-color: #dcdcdc;
  letter-spacing: .2em;
}

.regist input[type="text"]:first-child, .regist input[type="email"]:first-child, .regist input[type="button"]:first-child, .regist input[type="password"]:first-child {
  margin-bottom: 8px;
}

.regist input[type="button"] {
  margin-left: 10px;
  background-color: #898989;
}

.regist select {
  padding: .2em .5em;
  border: 0;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
  height: 40px;
  background-color: #dcdcdc;
  letter-spacing: .2em;
}

.regist table {
  max-width: 800px;
  width: 100%;
  margin: 100px auto 40px;
}

@media screen and (max-width: 767px) {
  .regist table {
    max-width: 420px;
  }
}

.regist table th {
  text-align: right;
}

.regist table td {
  padding-left: 40px;
}

.regist-list {
  max-width: 540px;
  margin: 100px auto 40px;
}

@media screen and (max-width: 767px) {
  .regist-list {
    max-width: 420px;
  }
}

.regist-item {
  margin-top: 18px;
}

@media screen and (min-width: 768px) {
  .regist-item {
    display: flex;
  }
}

.regist-item-input {
  flex: 0 0 400px;
}

@media screen and (min-width: 768px) {
  .regist-item-title {
    flex: 0 1 100%;
  }
}

.regist-footer {
  text-align: center;
}

.regist-footer .util-link {
  margin-top: 18px;
}

/**********************************************
  # contact
***************************************************/
.contact {
  margin-top: 40px;
}

.contact table {
  max-width: 800px;
  width: 100%;
  margin: 100px auto 40px;
}

@media screen and (max-width: 767px) {
  .contact table {
    max-width: 420px;
  }
}

.contact table th {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .contact table th {
    font-size: 12px;
  }
}

.contact table td {
  padding-left: 40px;
}

@media screen and (max-width: 767px) {
  .contact table td {
    font-size: 12px;
  }
}

.contact input[type="text"] {
  width: 100%;
  padding: .2em .5em;
  border: 0;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
  height: 40px;
  background-color: #dcdcdc;
}

.contact textarea {
  width: 100%;
  padding: .2em .5em;
  border: 0;
  box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
  background-color: #dcdcdc;
  min-height: 140px;
  resize: vertical;
}

.contact-list {
  max-width: 540px;
  margin: 100px auto 40px;
}

@media screen and (max-width: 767px) {
  .contact-list {
    max-width: 420px;
  }
}

.wrap {
  margin-top: 50px;
  text-align: center;
}

.contact-item {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .contact-item {
    display: flex;
  }
}

.contact-item-input {
  flex: 0 0 300px;
}

@media screen and (min-width: 768px) {
  .contact-item-title {
    flex: 0 1 100%;
  }
}

.contact-footer {
  text-align: center;
}

.message {
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .message {
    font-size: 12px;
  }
}
