<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
  <table>
    <tr>
      <th>商品名</th>
      <th>説明文</th>
      <th>価格</th>
      <th>画像</th>
      <th>カテゴリー</th>
    </tr>
    <tr>
      <td><input type="text" name="item_name" id="" value="" required></td>
      <td><textarea name="detail" id="" cols="30" rows="10" value="" required></textarea></td>
      <td><input type="text" name="price" id="" value="" required></td>
      <td><input type="file" name="image" id="" value="" required></td>
      <td><select name="ctg_id" id="" value="">
        {% for value in cateArr %}
        <option value="{{value.ctg_id}}" name="ctg_id">{{value.category_name}}</option>
        {% endfor %}
      
        <option value=""></option>
      </select></td>
    </tr>
  </table>
  <input type="submit" value="商品追加" name="submit">
  {{msg}}
</form>
</body>
</html>