<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>管理画面</title>
</head>
<body>
  <div class="admin inner">
  <h2 class="util-title">管理TOP</h2>

  <h3>会員管理</h3>
  <a href="admin_regist.php">会員一覧・編集</a>
  <h3>商品管理</h3>
  <a href="admin_products.php">商品一覧/編集</a>
  <a href="admin_products_add.php">商品追加</a>
  <h3>カテゴリ管理</h3>
  <a href="admin_category.php">カテゴリ管理</a>
  <h3>売上管理</h3>
  <a href="admin_shopping.php">売上管理</a>
</div>
</body>
</html>