<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{constant('shopping\\Bootstrap::APP_URL')}}css/reset.css">
  <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/style.css" rel="stylesheet">  <title>Document</title>
</head>
<body>
  <p class="complete">完了しました</p>
  <div class="util-link-wrap">
  <a href="admin.php" class="util-link">管理トップへ</a>
</div>
</body>
</html>