<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="" method="post">
  <table>
    <tr>
      <td>商品名 : {{confirm.item_name}}</td>
    </tr>
    <tr>
      <td>説明文 : {{confirm.detail}}</td>
    </tr>
    <tr>
      <td>価格 : {{confirm.price}}</td>
    </tr>
    <tr>
      <td>カテゴリー : {{ctg}}</td>
    </tr>
  </table>
  <input type="submit" value="変更する" name="submit">
</form>
</body>
</html>