<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>購入完了</title>
</head>
<body>
  <div>購入が完了しました</div>
    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}history.php">購入履歴へ</a>
    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}list.php">トップページへ</a>
</body>
</html>