<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>会員登録完了</title>
</head>
<body>
  <div>会員登録が完了しました</div>
    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}login_form.php">今すぐログイン</a>
    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}list.php">トップページへ</a>

</body>
</html>