<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>退会完了</title>
</head>
<body>
  <div>退会が完了しました<br>ご利用いただき誠にありがとうございました。</div>
    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}list.php">トップページへ</a>
</body>
</html>