<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>パスワード変更フォーム</title>
</head>
<body>
<p>本当にパスワードを変更しますか？<br>変更する場合は変更ボタンを押してください。</p>
  <form action="" method="post">
    <input type="submit" value="変更" name='remove'>
  </form>
</body>
</html>