<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>パスワード変更フォーム</title>
</head>
<body>
<h2>パスワード変更フォーム</h2>
  <form action="" method="post">
    新しいパスワード：<br>
    <input type="password" name="password1" size="16" value="" required><br>

    確認のためもう一度入力：<br>
    <input type="password" name="password2" size="16" value="" required><br>
    {{msg}}<br>
    <input type="submit" value="変更">
  </form>
</body>
</html>