<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- reset css -->
  <link rel="stylesheet" href="{{constant('shopping\\Bootstrap::APP_URL')}}css/reset.css">
  
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

<!-- drawer.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<!-- jquery & iScroll -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

  <script src="{{constant('shopping\\Bootstrap::APP_URL')}}js/shopping.js"></script>
  <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/style.css" rel="stylesheet">
  <title>パスワード変更フォーム</title>
</head>
<body class="drawer drawer--right">
{% include 'header.html.twig' %}
<div class="password inner">
  <div class="password-wrap">
<h2 class="util-title">パスワード変更フォーム</h2>
  <form action="" method="post">
    <dl class="change-pass-list">
      <div class="password-item">
        <dt class="change-pass-item-title">新しいパスワード</dt>
        <dd class="change-pass-item-input"><input type="password" name="password1" size="16" value="" required><br></dd>
        </div>
        <div class="password-item">
        <dt class="change-pass-item-title">確認のためもう一度入力</dt>
        <dd class="change-pass-item-input"><input type="password" name="password2" size="16" value="" required><br></dd>
        </div>
        <div class="err">{{msg}}</div><br>
    </dl>
    <div class="password-footer">
      <input type="submit" value="変更" class="util-link">
    </div>
  </form>
</div>
</div>
  {% include 'footer.html.twig' %}
</body>
</html>